<div class="new_notice">
  <%= form_for @notice do |f| %>
    <p>
      <%= f.label :heading %>
      <%= f.text_field :heading, :autofocus => true %>
    </p>

    <p>
      <%= f.label :message %>
      <%= f.text_area :message %>
    </p>

    <p>
      <%= f.label :category_id %>
      <%= f.select :category_id, Category.all.map {|category|[category.name, category.id]}, :include_blank => true %>
    </p>

    <p>
      <%= f.label :Image %>
      <%= f.file_field :file %>
    </p>

    <p>
      <%= f.label :date_from %>
      <%= f.date_select(:date_from, default: -1.years.from_now) %>
    </p>

    <p>
      <%= f.label :date_to %>
      <%= f.date_select(:date_to, default: 4.years.from_now) %>
    </p>

  <%= f.submit %>
<% end %>
</div>