<h2>Notice Board</h2>
<h3><%= link_to('New Notice', '/notices/new') %></h3>
<ol>
  <% @notices.each do |notice| %>
    <li><div class="notice_heading">Notice: <%= notice.heading %><br></div>
    User: <%= notice.user.name %> | Category: <% if notice.category %><%= notice.category.name %><% end %> | Time: <%= notice.created_at %><br>
     <div class="notice_message">Details: <%= notice.message %><br></div>
     Image: <%= notice.cl_id %>
    </li>
  <% end %>
</ol>