<h2>Notice Board</h2>

  
  <% if @current_user %>
    <h3><%= link_to('Post New Notice', '/notices/new') %></h3>
  <% end %>
<br>
  <p>
    <%= form_for '/notices', :method => "get" do |f| %>
      Select by Category: <%= f.select :category_id, Category.all.map {|category|[category.name, category.id]}, :include_blank => true %>
      <%= f.submit 'Select!' %>
    <% end %> 
  </p>
<br>
<ol>
  <% @notices.each do |notice| %>
    <li><a href="/notices/<%= notice.id %>">
      <div class="notice_message">
        Notice: <%= notice.heading %><br>
        Details: <%= notice.message %><br>
        User: <%= notice.user.name %> | Category: <% if notice.category %><%= notice.category.name %><% end %><br>
        <% if notice.date_from %>
         Date from: <%= notice.date_from.strftime "%b %d, %Y" %> |
        <% end %>
        <% if notice.date_to %> 
          Date to: <%= notice.date_to.strftime "%b %d, %Y" %><br>
        <% end %>
        <%= cl_image_tag(notice.cl_id) %>
        </div></a>
      
     <% if @current_user && @current_user.admin %>
     <br> <%= link_to('Edit', edit_notice_path(notice)) %>
      <%= button_to('Delete Notice', notice, :method => 'delete', :data => {:confirm => 'You sure homie???'}) %> 
     <% end %>
    </li>
  <% end %>
</ol>