<h2>Notice Board</h2>
  <% if @current_user %>
    <h3><%= link_to('New Notice', '/notices/new') %></h3>
  <% end %>
<%= form_for '/notices', :method => "get" do |f| %>
   <p>
      <%= f.label :category_id %>
      <%= f.select :category_id, Category.all.map {|category|[category.name, category.id]}, :include_blank => true %>
   </p>
   <p>
     <%= f.submit 'Sort by Category'  %>
   </p>
<% end %>
<ol>
  <% @notices.each do |notice| %>
    <li><a href="/notices/<%= notice.id %>">
      <div class="notice_message">
        Notice:<%= notice.heading %><br>
        User: <%= notice.user.name %> | Category: <% if notice.category %><%= notice.category.name %><% end %> | Time: <%= notice.created_at %><br>
        Details: <%= notice.message %><br>
        <%= cl_image_tag(notice.cl_id) %>
      </div></a>
      
     <% if @current_user && @current_user.admin %>
      <%= link_to('Edit', edit_notice_path(notice)) %>
      <%= button_to('Delete Notice', notice, :method => 'delete', :data => {:confirm => 'You sure homie???'}) %>
     <% end %>
    </li>
  <% end %>
</ol>