<div class="notice_message">
<h1><%= @notice.heading %></h1>
  <ul>
    Details: <%= @notice.message %><br> 
    User: <%= @notice.user.name %> |
    Location: <%= @notice.user.address %> |
    Category: <% if @notice.category %><%= @notice.category.name %><% end %><br> 
    
   <% if @notice.date_from %>
    Date from: <%= @notice.date_from.strftime "%b %d, %Y" %>
   <% end %> |
   <% if @notice.date_to %> 
    Date to: <%= @notice.date_to.strftime "%b %d, %Y" %> 
   <% end %>
    <br>
    <%= cl_image_tag(@notice.cl_id) %>
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@user.latitude}%2C#{@user.longitude}" %>
</div>
    <% if @current_user %>
      <% if @notice.user_id == @current_user.id || @current_user.admin %>
       <br><%= link_to('Edit', edit_notice_path(@notice)) %>
        <%= button_to('Delete Notice', notice, :method => 'delete', :data => {:confirm => 'You sure homie???'}) %>
      <% end %>
    <% end %>
  </ul> 

  <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'noticeboardapp';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
