<h1><%= @notice.heading %></h1>
  <ul>
    User: <%= @notice.user.name %> 
    Category: <% if @notice.category %><%= @notice.category.name %><% end %> 
    Time: <%= @notice.created_at %><br>
    Details: <%= @notice.message %><br>
    <%= cl_image_tag(@notice.cl_id) %>
    <% if @notice.user_id == @current_user.id || @current_user.admin %>
      <%= link_to('Edit', edit_notice_path(@notice)) %>
      <%= button_to('Delete Notice', notice, :method => 'delete', :data => {:confirm => 'You sure homie???'}) %>
    <% end %>
  </ul>