<h2>All Users</h2>
  <ol>
    <% @users.each do |user| %>
      <li>
        Username: <%= user.name %><br>
        Suburb: <%= user.suburb %><br>
        Email: <%= user.email %><br>
        Phone: <%= user.phone %><br>
        Admin: <%= user.admin %>
        <%= button_to('Delete User', @reservation, :method => 'delete', :data => {:confirm => 'You sure homie???'}) %>
      </li>
    <% end %>
  </ol>